.board-container {
    border: solid 1px;
    height: calc(90vh - 100px);
    min-width: 400px;
    min-height: 400px;
    width: 90vw;
    display: inline-block;
}
.board-menu {
    border: solid 1px #9999;
    background-color: #fff9;
}
.board-parts-menu {
    width: 150px;
}
.board-component-menu {
    width: 150px;
    min-height: 100px;
}
.board-canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.board-canvas-0 {
    border: solid 1px #000;
    background-color: #fff;
}
.board-button {
    display: inline-block;
    height: 20px;
    border: solid 1px;
    border-radius: 3px;
    margin: 1px;
}
.board-button:hover {
    cursor: pointer;
    box-shadow: 0 0 3px #000;
}
.board-button-active {
    background-color: yellow;
}
